<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="assets/css/styles.css">
      
      <title>Responsive login and registration form - Bedimcode</title>
   </head>
   <body>
      <!--=============== LOGIN IMAGE ===============-->
      <svg class="login__blob" viewBox="0 0 566 840" xmlns="http://www.w3.org/2000/svg">
         <mask id="mask0" mask-type="alpha">
            <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
            0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
            591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
            167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>
         </mask>
      
         <g mask="url(#mask0)">
            <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
            0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
            591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
            167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>
      
            <!-- Insert your image (recommended size: 1000 x 1200) -->
            <image class="login__img" href="assets/img/bg-img.jpg"/>
         </g>
      </svg>  
      
      <!-- <% if(locals.error){%>
        <div class="alert alert-danger" role="alert"><%=locals.error%></div>
   <%} %> -->


      <div class="login container grid" style="margin-top: -30px;" id="loginAccessRegister">
        <!--===== LOGIN ACCESS =====-->
        <div class="login__access">
           <h1 class="login__title" style="font-size:larger; font-weight: 700;">Generate Here...</h1>
           
           <div class="login__area" style="margin-top: -30px;">
              <form action="/generate" method="post" class="login__form">
                 <div class="login__content grid">
                    <div class="login__box" style="height: 50px;">
                       <input type="text" id="email" name="text" required placeholder=" " class="login__input" required>
                       <label for="email" class="login__label" >Type to genetate...</label>
           
                       
                    </div>

                    <div class="login__box" style="height: 50px;">
                        <input type="color" id="color" name="color" class="form-control" value="#000000"  required placeholder=" "required>
                        <label for="color" class="login__label">color</label>
            
                       
                     </div>

                     <div class="login__box" style="height: 50px;">
                        <input type="number" id="size" name="size" required placeholder=" " class="login__input" value="200" required>
                        <label for="email" class="login__label">size</label>
            
                       
                     </div>
                    

                </div>
                  <div style="display: flex; flex-direction: row; justify-content: space-between;height: 50px;">
             <button type="submit" id="generate" class="login__button" style="align-items: center; margin-right: 5px;">Generate QR Code</button>
             <button type="submit" id="Download" class="login__button" style="align-items: center; margin-left: 5px;">Download</button>
            </div>  
            </form>

         </div>
         <% if(locals.qrCode){%>
             <div class="mt-5">
                 <img src="<%=locals.qrCode%>" class="img-fluid" alt="">
             </div>
         <%} %>
            
        </div>
    </div>

  
   

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script src="assets/js/main.js"></script>
    </body>
 </html>